#### ⏰ Até 15/02 ⏰ 1ª FASE - EXTRAÇÃO DOS DADOS DA ESCALA DE SERVIÇO

In [ ]:
from docx import Document
import pandas as pd

# função que abre e extrai todas as tabelas de um docx
def extrairTabelas(caminhoDocx):
    todasTabelas = []

    doc = Document(caminhoDocx)
    
    for tabela_idx, tabela in enumerate(doc.tables):
        tabelaAtual = []
        
        for row_idx, row in enumerate(tabela.rows):
            cells = [cell.text.strip() for cell in row.cells]
            tabelaAtual.append(cells)

        todasTabelas.append(tabelaAtual)

    return todasTabelas

# coloca o nome do docx
tabelas = extrairTabelas('08.02.2024 ESCALA DE SERVIÇO - QUINTA-FEIRA.docx')

# nomes das equipes de serviço para referenciar os dfs
nomesEquipes = [0,'cpu','sede','adm','esquadrao','liberdade','alemanha','gtm','operacao']

# cria o dicionário equipe-tabela a ser preenchido
dfEquipe = {}

# criação dos DataFrames a partir da extração em docx
for idx, tabela in enumerate(tabelas):
    dfEquipe[nomesEquipes[idx]] = pd.DataFrame(tabela)

In [72]:
dfEquipe['cpu'][1:5]

,0,1,2,3,4,5,6,7
1,1º QTU - 07h00min às 19h00min,1º QTU - 07h00min às 19h00min,1º QTU - 07h00min às 19h00min,1º QTU - 07h00min às 19h00min,2º QTU - 19h00min às 07h00min,2º QTU - 19h00min às 07h00min,2º QTU - 19h00min às 07h00min,2º QTU - 19h00min às 07h00min
2,POS/GRA/Nº,NOME,ID,FUN.,POS/GRA/Nº,NOME,ID,FUN.
3,1º TEN QOPM,MARQUES,2708030,CPU,1º TEN QOPM,JHONES,821852,CPU
4,SD PM 762/16,J. OLIVEIRA (AB),849645,MOT,SD PM 1082/17,LICAR,857499,MOT

In [70]:
dfEquipe['sede'][2:6]

,0,1,2,3,4,5,6,7
2,POS/GRA/Nº,NOME,ID,FUN.,POS/GRA/Nº,NOME,ID,FUN.
3,SD PM 379/16,M. FRANÇA (AB),827168,ARMEIRO,SD PM 1275/17,ALMEIDA SOUSA,859484,PERM
4,SD PM 379/16,M. FRANÇA (AB),827168,ARMEIRO,SGT PM 259/94,MIRANDA,415107,
5,SD PM 379/16,M. FRANÇA (AB),827168,ARMEIRO,,,,

In [68]:
dfEquipe['adm'][1:9]

,0,1,2,3,4
1,HORÁRIO,NOME,ID,NOME,ID
2,08h00min às 14h00min,CAP QOPM FILGUEIRAS– CHEFE P/4,819386,1º TEN QOPM JONATAS – CHEFE P3,855818
3,08h00min às 14h00min,CAP QOEPM LUIS HENRIQUE,415458,,
4,07h30min às 13h30min,3º SGT PM UBIRATAN,849473,CB PM 44/15 SIQUEIRA (B),846041
5,07h30min às 13h30min,SD PM 263/17 M RAMON – AUX P4,832996,SD PM 461/16 DOUGLAS NETO AUXP1,849473
6,08h00min às 18h00min,SD PM 449/16 MABIO AUX P3,849780,SD PM 64/18 R. MIRANDA – AUX P/4,872946
7,08h00min às 18h00min,SD PM 67/18 ELIENAY (B) AUX P/1,861985,,
8,08h00min às 18h00min,SD PM 1227/17 J. BEZERRA (AB) - MOT CMT,829523,CB PM 237/15 WILLEN COSTA AUX P/3,846260

In [74]:
dfEquipe['esquadrao'][1:4]

,0,1,2,3,4,5,6
1,Horário: 05h30min às 12h00min,Horário: 05h30min às 12h00min,Horário: 05h30min às 12h00min,Horário: 05h30min às 12h00min,Horário: 05h30min às 12h00min,Horário: 05h30min às 12h00min,Horário: 05h30min às 12h00min
2,,POS/GRA/Nº/NOME,ID,FUN.,POS/GRA/Nº/NOME,ID,FUN.
3,-,,,,,,

In [77]:
dfEquipe['liberdade'][1:6]

,0,1,2,3,4,5,6,7
1,1º QTU - 07h00min às 19h00min,1º QTU - 07h00min às 19h00min,1º QTU - 07h00min às 19h00min,1º QTU - 07h00min às 19h00min,2º QTU - 19h00min às 07h00min,2º QTU - 19h00min às 07h00min,2º QTU - 19h00min às 07h00min,2º QTU - 19h00min às 07h00min
2,POS/GRA/Nº,NOME,ID,FUN.,POS/GRA/Nº,NOME,ID,FUN.
3,CB PM 96/15,GARROS (B),846128,CMT,SD PM 190/16,ARAUJO REIS,849242,CMT
4,SD PM 166/22,SAMUEL FURTADO,870484,MOT,SD PM 722/16,DA SILVA,849568,MOT

In [79]:
dfEquipe['alemanha'][1:6]

,0,1,2,3,4,5,6,7
1,1º QTU - 08h00min às 20h00min,1º QTU - 08h00min às 20h00min,1º QTU - 08h00min às 20h00min,1º QTU - 08h00min às 20h00min,2º QTU - 20h00min às 08h00min,2º QTU - 20h00min às 08h00min,2º QTU - 20h00min às 08h00min,2º QTU - 20h00min às 08h00min
2,POS/GRA/Nº,NOME,ID,FUN.,POS/GRA/Nº,NOME,ID,FUN.
3,SD PM 378/22,VERNESON,871350,CMT,SD PM 400/16,OZORIO (AD),849552,PAT
4,SD PM 203/22,MENDES (B),869772,MOT,SD PM 1153/17,NOGUEIRA,820635,CMT

In [82]:
dfEquipe['gtm'][1:5]

,0,1,2,3,4,5,6
1,Horário: 14h00min às 00h00min,Horário: 14h00min às 00h00min,Horário: 14h00min às 00h00min,Horário: 14h00min às 00h00min,Horário: 14h00min às 00h00min,Horário: 14h00min às 00h00min,Horário: 14h00min às 00h00min
2,,POS/GRA/Nº/NOME,ID,FUN.,POS/GRA/Nº/NOME,ID,FUN.
3,-,SD PM 230/15 CASTRO (B),846275,CMT,SD PM 446/16 SEREJO,849787,PAT
4,-,SD PM 559/16 AMARAL,849304,MOT,,,

In [84]:
dfEquipe['operacao'][1:6]

,0,1,2,3,4,5,6
1,Horário: 13h00min às 19h00min,Horário: 13h00min às 19h00min,Horário: 13h00min às 19h00min,Horário: 13h00min às 19h00min,Horário: 13h00min às 19h00min,Horário: 13h00min às 19h00min,Horário: 13h00min às 19h00min
2,MT,POS/GRA/Nº/NOME,ID,FUN.,POS/GRA/Nº/NOME,ID,FUN.
3,-,SD PM 310/16 CONSTANTINO,835733,CMT,SD PM 429/16 ABSALÃO,849416,PIL
4,-,SD PM 449/17 MENDANHA,857324,PIL,SD PM 1265/17 NIELY,858745,PAT

#### ⏰ Até 20/02 ⏰ 2ª FASE - EXTRAÇÃO DOS DADOS DO CHECKLIST

In [104]:
import gspread

# armazenar JSON em local seguro após a fase de teste. Credenciais de Acesso por Conta de Serviço
gc = gspread.service_account('./service_account.json')

spreadsheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1k6Ugpr-XRiWQEFeNPEkGSODZW2vfx1m1r3GCNk8xnQo')

planilhaMotos = spreadsheet.get_worksheet(0)
dadosMotos = pd.DataFrame(planilhaMotos.get_all_values()[-20:])
dadosMotos = dadosMotos[[0,2,3,4,5,6]]
display(dadosMotos)

planilhaCarros = spreadsheet.get_worksheet(1)
dadosCarros = pd.DataFrame(planilhaCarros.get_all_values()[-20:])
dadosCarros = dadosCarros[[0,2,3,4,5,6]]
display(dadosCarros)

,0,2,3,4,5,6
0,10/02/2024 18:47:41,Stocikov,2556645,23-073,DESCAUTELA - Devolução da Moto,
1,10/02/2024 18:48:51,Ivan Dias,2514453,21-079,DESCAUTELA - Devolução da Moto,
2,11/02/2024 13:06:11,ABSALÃO,2555589,23-073,CAUTELA - Recebimento da Moto,11/02/2024
3,11/02/2024 13:48:03,Sd Constantino,2556249,21-079,CAUTELA - Recebimento da Moto,11/02/2024
4,11/02/2024 15:22:43,Sd Constantino,2556249,21-079,DESCAUTELA - Devolução da Moto,
5,11/02/2024 15:27:07,Sd Constantino,2556249,21-069,CAUTELA - Recebimento da Moto,11/02/2024
6,11/02/2024 18:39:33,ABSALÃO,2555589,23-073,DESCAUTELA - Devolução da Moto,
7,11/02/2024 18:39:34,Sd Constantino,2556249,21-069,DESCAUTELA - Devolução da Moto,
8,12/02/2024 13:01:53,ABSALÃO,2555589,23-073,CAUTELA - Recebimento da Moto,12/02/2024
9,12/02/2024 13:48:08,Sd Constantino,2556249,21-069,CAUTELA - Recebimento da Moto,12/02/2024
10,12/02/2024 18:52:33,ABSALÃO,2555589,23-073,DESCAUTELA - Devolução da Moto,
11,12/02/2024 18:53:33,Sd Constantino,2556249,21-069,DESCAUTELA - Devolução da Moto,
12,14/02/2024 15:40:14,SD Ivan Dias,2514453,23-073,CAUTELA - Recebimento da Moto,14/02/2024
13,14/02/2024 15:43:44,Ferreira,2516524,21-139,CAUTELA - Recebimento da Moto,14/02/2023
14,14/02/2024 18:50:30,Sd Ivan Dias,2514453,23-073,DESCAUTELA - Devolução da Moto,
15,14/02/2024 18:50:40,Ferreira,2516524,21-139,DESCAUTELA - Devolução da Moto,
16,15/02/2024 13:09:52,ABSALÃO,2555589,21-069,CAUTELA - Recebimento da Moto,15/02/2024
17,15/02/2024 13:12:23,SD MENDANHA,2632487,23-073,CAUTELA - Recebimento da Moto,15/02/2024
18,15/02/2024 19:20:02,ABSALÃO,2555589,21-069,DESCAUTELA - Devolução da Moto,
19,15/02/2024 19:20:57,SD MENDANHA,2632487,23-073,DESCAUTELA - Devolução da Moto,

,0,2,3,4,5,6
0,15/02/2024 00:01:45,Sd Amaral Costa,2554012,VP 23 - 228,DESCAUTELA - Devolução de Viatura,
1,15/02/2024 00:29:38,CB PM nodson,2518306,20464,DESCAUTELA - Devolução de Viatura,
2,15/02/2024 00:32:47,Sd R.Souza,869443,Vp- 20- 464,CAUTELA - Recebimento de Viatura,15/02/2024
3,15/02/2024 01:34:47,SD PM nodson,2518306,VP 21 - 150,CAUTELA - Recebimento de Viatura,15/02/2024
4,15/02/2024 01:36:28,SD PM nodson,2518306,VP 21 - 150,CAUTELA - Recebimento de Viatura,15/02/2024
5,15/02/2024 06:44:09,Sd R. Souza,869443,Vp- 20 - 464,DESCAUTELA - Devolução de Viatura,
6,15/02/2024 07:21:39,SD PM nodson,2518306,VP 21 - 150,DESCAUTELA - Devolução de Viatura,
7,15/02/2024 07:35:34,SD Da Silva,2556488,20-464,CAUTELA - Recebimento de Viatura,15/02/2024
8,15/02/2024 07:45:08,SD Braga,2553618,VP 24 - 450,DESCAUTELA - Devolução de Viatura,
9,15/02/2024 08:21:25,Sd Licar,2634814,VP 21 - 150,CAUTELA - Recebimento de Viatura,15/02/2024
10,15/02/2024 08:33:15,Nogueira,2634681,VP 24 - 450,CAUTELA - Recebimento de Viatura,15/02/2024
11,15/02/2024 14:50:44,Sd ecosta,2518439,VP 23 - 025,CAUTELA - Recebimento de Viatura,15/02/2024
12,15/02/2024 16:27:52,Sd Ecosta,2518439,VP 23 - 025,DESCAUTELA - Devolução de Viatura,
13,15/02/2024 16:28:57,Sd ecosta,2518439,VP 23 - 228,CAUTELA - Recebimento de Viatura,15/02/2024
14,15/02/2024 18:29:56,Sd Licar,2634814,VP 21 - 150,DESCAUTELA - Devolução de Viatura,
15,15/02/2024 18:58:38,SD Da Silva,2556488,20-464,DESCAUTELA - Devolução de Viatura,
16,15/02/2024 19:35:03,SD Queiroz,2516219,20 464,CAUTELA - Recebimento de Viatura,15/02/2024
17,15/02/2024 19:36:06,CB 33/15 Silva Melo,2515245,VP 21 - 150,CAUTELA - Recebimento de Viatura,15/02/2024
18,15/02/2024 19:45:21,Nogueira,2634681,VP 24 - 450,DESCAUTELA - Devolução de Viatura,
19,15/02/2024 20:09:50,Sd R.Souza,869443,VP 24 - 450,CAUTELA - Recebimento de Viatura,15/02/2024

#### ⏰ Até 25/02 ⏰ 3ª FASE - COMPARAÇÃO DADOS DA ESCALA E CHECKLIST EXECUTADOS

#### ⏰ Até 1ª/03 ⏰ 4ª FASE - RELATÓRIO AO CHEFE DA 4ª SEÇÃO