# verificar as equipes na escala de serviço e horários

In [1]:
import tabula
lista_tabelas = tabula.read_pdf("EscalaServico.pdf", pages="all")
print(len(lista_tabelas))
for tabela in lista_tabelas:
    display(tabela)

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

5

,Unnamed: 0,CPU - VTR 23 025 – ÁREA DO 38o BPM –– TEL: 99178-9062,Unnamed: 1
0,NaN,1o QTU - 07h00min às 19h00min 2o QTU - 19h00mi...,NaN
1,POS/GRA/No,NOME ID FUN. POS/GRA/No NOME ID,FUN.
2,NaN,NaN,NaN
3,CB PM /16,PESTANA 825186 CPU CB PM 1399/14 DAVID 821841,CPU
4,SILVA MELO (B) SD PM 1082/17,CB PM 33/15 LICAR 857499 MOT 846028,MOT
5,NaN,ARMEIRO – SEDE DO 38o BPM,NaN
6,NaN,ARMEIRO GUARDA DO QUARTEL,NaN
7,NaN,Horário: 07h00min (24h) Horário: 07h00min (24h),NaN
8,POS/GRA/No,NOME ID FUN. POS/GRA/No NOME ID,FUN.
9,NaN,SD PM 573/16 CARLOS 849543,PERM
10,SD PM 141/15,DUTRA (A) 846247 ARMEIRO,PERM

,Unnamed: 0,EXPEDIENTE ADMINISTRATIVO,Unnamed: 1,Unnamed: 2
0,HORÁRIO,NOME ID NOME,NaN,ID
1,NaN,CAP QOEPM LUIS HENRIQUE,NaN,415458
2,08h00min às 14h00min,CAP QOPM FILGUEIRAS– CHEFE P/4,NaN,819386
3,NaN,1o TEN QOPM JONATAS – CHEFE P1/P3,NaN,2617108
4,NaN,SD PM 1274/17 F. DURANS – AUX P/4 857336 CB P...,NaN,846041
5,07h30min às 13h30min,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,CB PM 93/15 SANDNES (AB) – AUX P/1 845982 SD ...,NaN,850180
8,08h00min às 18h00min,CB PM 805/14 BELFORT (AB) – AUX P/4 822452 SD ...,NaN,833991
9,NaN,NaN,NaN,NaN
10,08h00min às 18h00min,SD PM 371/16 EVERTON (AD) - MOT CMT 849562,NaN,NaN
11,08h00min às 14h00min,3o SGT PM UBIRATAN 416371,NaN,NaN

,"VTR 20 464 (LIBERDADE, FLORESTA, PROMORAR, FÉ EM","VTR 20 464 (LIBERDADE, FLORESTA, PROMORAR, FÉ EM.1"
0,"DEUS, CAMBOA E DIAMANTE) - CARTÃO 174","DEUS, CAMBOA E DIAMANTE) - CARTÃO 174"
1,1o QTU - 07h00min às 19h00min,2o QTU - 19h00min às 07h00min
2,POS/GRA/No NOME ID FUN.,POS/GRA/No NOME ID FUN.
3,SD PM 190/16ARAUJO REIS 849242 CMT,CB PM 215/15 NODSON 846245 CMT
4,SD PM 722/16 DA SILVA849568 MOT,SD PM /22.3 VINÍCIUS CASTRO 870847 MOT
5,PAT,SD PM QUEIROZ 846046 PAT

,"VTR 21 150 (ALEMANHA, IVAR SALDANHA, NEWTON BELO,","VTR 21 150 (ALEMANHA, IVAR SALDANHA, NEWTON"
0,"MONTE CASTELO, BOM MILAGRE E RETIRO NATAL) -","BELO, MONTE CASTELO, BOM MILAGRE E RETIRO"
1,CARTÃO 175,NATAL) - CARTÃO 175
2,1o QTU - 08h00min às 20h00min,2o QTU - 20h00min às 08h00min
3,POS/GRA/No NOME ID FUN.,POS/GRA/No NOME ID FUN.
4,SD PM 400/16 OZORIO (AD) 849552 CMT,SD PM 580/16 DE MELO 849741 CMT
5,SD PM 1153/17 NOGUEIRA 820635 MOT,SD PM /22.3 R.SOUZA 869443 MOT

,Unnamed: 0,Unnamed: 1,VTR 23 228 GRUPO TÁTICO MÓVEL,Unnamed: 2,Unnamed: 3
0,NaN,NaN,TODA ÁREA DO 38°BPM,NaN,NaN
1,NaN,NaN,Horário: 14h00min às 00h00min,NaN,NaN
2,MT,POS/GRA/No/NOME,ID FUN. POS/GRA/No/NOME,ID,FUN.
3,-,SD PM 230/15 CASTRO (B),846275 PAT SD PM 446/16 SEREJO,849787,NaN
4,-,SD PM 559/16 AMARAL,849304 MOT,NaN,NaN
5,NaN,NaN,Cautelar as motos na sede do 38o BPM.,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OPRAÇÃO CAMBOA SEGURA,NaN,NaN
8,NaN,NaN,Horário: 12h00min às 20h00min,NaN,NaN
9,MT,POS/GRA/No/NOME,ID FUN. POS/GRA/No/NOME,ID,FUN.
10,-,SD PM 429/16 ABSALÃO,849416 CMT SD PM 1265/17 NIELY,858745,PAT
11,-,SD PM 449/17 MENDANHA,857324 PAT SD PM/22 DE JESUS,851905,PAT
12,NaN,NaN,Cautelar as motos na sede do 38o BPM.,NaN,NaN